.App {
  text-align: center;
}

.App-container {
  background-color:#32273b91;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(225, 224, 231);
}

.App-container .logo{
  margin-bottom: 30px;
}

.App-container .title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.App-container h3{
  text-align: center;
}

.App-container .title h3 img{
  margin-top: 50px;
}

.App-container ul{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 50px;
  
}

.App-container ul li {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 100px rgba(0,0,0,0.1);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding:5px;
}

.App-container ul li {
  max-width: 100%;
  border-radius: 5px 5px 0 0;
}

.main-container ul li footer {
    flex: 1;
    background: #FFF;
    border: 1px solid #eee;
    padding: 15px 20px;
    text-align: left;
    border-radius: 0 0 5px 5px;
  }

  @media only screen and (max-width: 468px) {

    .App-container ul{
      list-style: none;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      margin-top: 50px;

    }

    .App-container .title{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
    }

  }

  @media (min-width: 469px) and (max-width: 1000px) {

    .App-container ul{
      list-style: none;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      margin-top: 50px;
    }

  }